.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 80vw;
    
    
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.notlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.attendanceContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.attendanceName{
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 25px;
}

.attendanceContents{
    font-size: 20px;
}

.middleHeader{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}

.wrongIp{
    color: red;
}

.monthChange{
    margin-left: 20px;
    margin-right: 20px;
}